n8n/workflow.json
{
  "name": "FR Ecom Acquisition Pipeline",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "hours", "hoursInterval": 24 } ] } },
      "id": "n-schedule",
      "name": "Nightly 02:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [ 100, 300 ]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "list", "value": "SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Sheet1" }
      },
      "id": "n-read",
      "name": "Read Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 300, 300 ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst seen = new Set();\nreturn rows.map(row => {\n  const d = row.json;\n  const types = (d['Types']||'').toLowerCase();\n  const statut = (d['Statut scraping']||'').trim();\n  const site = (d['Site web']||'').trim();\n  const avis = parseInt(d['Nb Avis'])||0;\n  const note = parseFloat(d['Note Google'])||0;\n  let domain = null;\n  try { domain = new URL(site).hostname.replace(/^www\\./,''); } catch {}\n  if (statut && !statut.startsWith('S0:')) return { json: { ...d, skip:true, reason:'already processed' } };\n  if (!types.includes('ecommerce')) return { json: { ...d, skip:true, reason:'physical only' } };\n  if (!site || !site.startsWith('http') || !domain) return { json: { ...d, skip:true, reason:'no website' } };\n  if (avis > 500 && note > 4.5) return { json: { ...d, skip:true, reason:'obviously healthy' } };\n  if (seen.has(domain)) return { json: { ...d, skip:true, reason:'duplicate domain' } };\n  seen.add(domain);\n  return { json: { ...d, skip:false, domain, reason:'qualified' } };\n});"
      },
      "id": "n-stage0",
      "name": "Stage 0 Pre-qual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 500, 300 ]
    },
    {
      "parameters": {
        "conditions": { "conditions": [ { "leftValue": "={{$json.skip}}", "rightValue": false, "operator": { "type": "boolean", "operation": "equals" } } ] }
      },
      "id": "n-filter0",
      "name": "Keep Qualified",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 700, 300 ]
    },
    {
      "parameters": {
        "aggregate": "aggregateIndividualFields",
        "fieldsToAggregate": { "fieldToAggregate": [ { "fieldToAggregate": "={{$json['Site web']}}", "renameField": "urls" } ] }
      },
      "id": "n-aggregate",
      "name": "Collect URLs",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [ 900, 260 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SCRAPER_BASE}}/check-marketplaces",
        "sendBody": true, "contentType": "json",
        "jsonBody": "={\n  \"urls\": {{JSON.stringify($json.urls)}}\n}"
      },
      "id": "n-market",
      "name": "Stage 0.5 Marketplaces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1100, 260 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SCRAPER_BASE}}/check-activity",
        "sendBody": true, "contentType": "json",
        "jsonBody": "={\n  \"urls\": {{JSON.stringify(($json.body || $json).map(x => x.url))}}\n}"
      },
      "id": "n-activity",
      "name": "Stage 1 Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1300, 260 ]
    },
    {
      "parameters": {
        "jsCode": "// Merge Stage 0.5 marketplace results with Stage 1 activity results by URL.\n// Stage 0.5 response is available at $('Stage 0.5 Marketplaces').first().json (array).\nconst marketplace = $('Stage 0.5 Marketplaces').first().json;\nconst marketArr = Array.isArray(marketplace) ? marketplace : (marketplace.body || []);\nconst marketByUrl = Object.fromEntries(marketArr.map(m => [m.url, m]));\n\nconst stage1Response = $input.first().json;\nconst stage1Arr = Array.isArray(stage1Response) ? stage1Response : (stage1Response.body || []);\n\nreturn stage1Arr.map(row => {\n  const mk = marketByUrl[row.url] || { marketplace_verdict: 'NOT_LISTED' };\n  return { json: { ...row, marketplace_verdict: mk.marketplace_verdict, dotmarket_url: mk.dotmarket_url, flippa_url: mk.flippa_url } };\n});"
      },
      "id": "n-merge",
      "name": "Merge Marketplace + Activity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1500, 260 ]
    },
    {
      "parameters": {
        "conditions": { "combinator": "or", "conditions": [
          { "leftValue": "={{$json.stage1_verdict}}", "rightValue": "CANDIDATE", "operator": { "type": "string", "operation": "equals" } },
          { "leftValue": "={{$json.marketplace_verdict}}", "rightValue": "FOR_SALE", "operator": { "type": "string", "operation": "equals" } }
        ] }
      },
      "id": "n-filter1",
      "name": "Keep Candidates or FOR_SALE",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 1700, 260 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SCRAPER_BASE}}/check-traffic",
        "sendBody": true, "contentType": "json",
        "jsonBody": "={\n  \"urls\": [{{JSON.stringify($json.url)}}],\n  \"enrichment\": {\n    {{JSON.stringify($json.url)}}: {\n      \"stage1_score\": {{$json.stage1_score}},\n      \"marketplace_verdict\": {{JSON.stringify($json.marketplace_verdict || 'NOT_LISTED')}}\n    }\n  }\n}"
      },
      "id": "n-traffic",
      "name": "Stage 2 Traffic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1900, 260 ]
    },
    {
      "parameters": {
        "jsCode": "// Flatten /check-traffic's list response (always 1 URL here) back to single item.\nconst resp = $input.first().json;\nconst arr = Array.isArray(resp) ? resp : (resp.body || []);\nreturn arr.map(x => ({ json: x }));"
      },
      "id": "n-flatten",
      "name": "Flatten Traffic Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 2050, 260 ]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "list", "value": "SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Sheet1" },
        "operation": "update",
        "columns": { "mappingMode": "defineBelow",
          "value": {
            "Site web": "={{$json.url}}",
            "Statut scraping": "={{ $json.stage2_verdict === 'ERROR' ? ('ERROR: ' + ($json.error || 'unknown')) : ('S2: ' + $json.stage2_verdict + ' (' + $json.priority_score + ')') }}",
            "Check Semrush (intéressant pour racheter?)": "={{ $json.priority_score >= 50 ? ('Oui (' + $json.priority_score + ') — ' + ($json.priority_score>=80?'HIGH':'MED')) : 'Non' }}",
            "Commentaire": "={{$json.summary}}"
          }
        }
      },
      "id": "n-write",
      "name": "Write Back",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 2250, 260 ]
    },
    {
      "parameters": {
        "conditions": { "conditions": [
          { "leftValue": "={{$json.priority_score}}", "rightValue": 50, "operator": { "type": "number", "operation": "gte" } }
        ] }
      },
      "id": "n-filter2",
      "name": "Keep Priority ≥50",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 2450, 260 ]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=Top candidate: {{$json.url}}\nScore: {{$json.priority_score}} — {{$json.stage2_verdict}}\n{{$json.summary}}"
      },
      "id": "n-telegram",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 2650, 260 ]
    }
  ],
  "connections": {
    "Nightly 02:00": { "main": [ [ { "node": "Read Sheet", "type": "main", "index": 0 } ] ] },
    "Read Sheet": { "main": [ [ { "node": "Stage 0 Pre-qual", "type": "main", "index": 0 } ] ] },
    "Stage 0 Pre-qual": { "main": [ [ { "node": "Keep Qualified", "type": "main", "index": 0 } ] ] },
    "Keep Qualified": { "main": [ [ { "node": "Collect URLs", "type": "main", "index": 0 } ], [] ] },
    "Collect URLs": { "main": [ [ { "node": "Stage 0.5 Marketplaces", "type": "main", "index": 0 } ] ] },
    "Stage 0.5 Marketplaces": { "main": [ [ { "node": "Stage 1 Activity", "type": "main", "index": 0 } ] ] },
    "Stage 1 Activity": { "main": [ [ { "node": "Merge Marketplace + Activity", "type": "main", "index": 0 } ] ] },
    "Merge Marketplace + Activity": { "main": [ [ { "node": "Keep Candidates or FOR_SALE", "type": "main", "index": 0 } ] ] },
    "Keep Candidates or FOR_SALE": { "main": [ [ { "node": "Stage 2 Traffic", "type": "main", "index": 0 } ], [] ] },
    "Stage 2 Traffic": { "main": [ [ { "node": "Flatten Traffic Response", "type": "main", "index": 0 } ] ] },
    "Flatten Traffic Response": { "main": [ [ { "node": "Write Back", "type": "main", "index": 0 } ] ] },
    "Write Back": { "main": [ [ { "node": "Keep Priority ≥50", "type": "main", "index": 0 } ] ] },
    "Keep Priority ≥50": { "main": [ [ { "node": "Telegram Notify", "type": "main", "index": 0 } ], [] ] }
  },
  "settings": { "executionOrder": "v1" }
}
